.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.title {
  margin-top: 40px;
  text-align: center;
  font-size: 40px;
  color: white;
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.image {
  width: 200px;
  height: 200px;
}

.name {
  margin-top: 10px;
  text-align: center;
  color: white;
}

.link {
  text-decoration: none;
}
