.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.categories {
  display: flex;
  align-items: center;
  gap: 20px;
}

.name {
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.name:hover {
  color: #d05c81;
}

.categoriesSortSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 1000px;
}

.sortSearch {
  display: flex;
  gap: 20px;
  color: white;
}
