.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  padding: 20px;
}

.wrapper h1 {
  text-align: center;
  font-size: 30px;
  border-bottom: 1px solid gray;
  max-width: 420px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.labelErrorWrapper {
  display: flex;
  gap: 10px;
}

.info input {
  margin: 0 auto;
  padding: 10px 0 10px 10px;
  border: 1px solid #d05c81;
  border-radius: 5px;
  max-width: 360px;
  width: calc(100% - 10px);
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #d05c81;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.4s;
}

.btn:active {
  background-color: #333;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 14px;
}
