@import url("./assets/styles/reset.css");

body {
  background-color: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.wrapperDark {
  background-image: url("./assets/img/dark-back.jpg");
  color: white;
}

.wrapperLight {
  background-image: url("./assets/img/light-back.jpg");
  color: black;
}
